# Explora aquí

Se recomienda utilizar este cuaderno con fines de exploración.

In [72]:
from bs4 import BeautifulSoup
import requests
import sqlite3
import pandas as pd

In [2]:
url = "https://ycharts.com/companies/TSLA/revenues"

In [12]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

In [59]:
html = requests.get(url, "html", headers=headers)
soup = BeautifulSoup(html.content, "html.parser")
tables = soup.find_all("table")

In [109]:


values = []
for table in tables:
    sub_values  = []
    for tr in table.find_all("tr"):
        val = []
        for td in tr.find_all("td"):
            val.append(td.get_text(separator="\n", strip=True))
        sub_values.append(val)
    values.append(sub_values)

In [193]:
#
df = pd.concat([pd.DataFrame(values[0][1:], columns=["Date","Value (billions)"]),pd.DataFrame(values[1][1:], columns=["Date","Value (billions)"])]).reset_index(drop=True)
df["Value (billions)"] = [float(i[0:-1]) if i[-1] == "B" else (float(i[0:-1])/1000) for i in df["Value (billions)"]]
benchmarks = pd.DataFrame(values[2])
related_metrics = pd.DataFrame(values[3])

In [204]:
#Storing dataframe in SQL->

con = sqlite3.connect("Historical Revenue (Quarterly) Data.db")
cursor = con.cursor()
sql_table = '''
        CREATE TABLE IF NOT EXISTS revenues (
            Date TEXT,
            Value_in_billions FLOAT
        )
        '''
cursor.execute(sql_table)
df.to_sql(name = "revenues", con = con, if_exists = "replace", index = False)
con.commit()
df_example = pd.read_sql_query("SELECT * FROM revenues", con = con)
con.close()

In [205]:
df_example

                  Date  Value (billions)
0       March 31, 2024          21.30000
1    December 31, 2023          25.17000
2   September 30, 2023          23.35000
3        June 30, 2023          24.93000
4       March 31, 2023          23.33000
5    December 31, 2022          24.32000
6   September 30, 2022          21.45000
7        June 30, 2022          16.93000
8       March 31, 2022          18.76000
9    December 31, 2021          17.72000
10  September 30, 2021          13.76000
11       June 30, 2021          11.96000
12      March 31, 2021          10.39000
13   December 31, 2020          10.74000
14  September 30, 2020           8.77100
15       June 30, 2020           6.03600
16      March 31, 2020           5.98500
17   December 31, 2019           7.38400
18  September 30, 2019           6.30300
19       June 30, 2019           6.35000
20      March 31, 2019           4.54100
21   December 31, 2018           7.22600
22  September 30, 2018           6.82400
23       June 30, 2018           4.00200
24      March 31, 2018           3.40900
25   December 31, 2017           3.28800
26  September 30, 2017           2.98500
27       June 30, 2017           2.79000
28      March 31, 2017           2.69600
29   December 31, 2016           2.28500
30  September 30, 2016           2.29800
31       June 30, 2016           1.27000
32      March 31, 2016           1.14700
33   December 31, 2015           1.21400
34  September 30, 2015           0.93679
35       June 30, 2015           0.95498
36      March 31, 2015           0.93988
37   December 31, 2014           0.95666
38  September 30, 2014           0.85180
39       June 30, 2014           0.76935
40      March 31, 2014           0.62054
41   December 31, 2013           0.61522
42  September 30, 2013           0.43135
43       June 30, 2013           0.40514
44      March 31, 2013           0.56179
45   December 31, 2012           0.30633
46  September 30, 2012           0.05010
47       June 30, 2012           0.02665
48      March 31, 2012           0.03017